<?xml version="1.0" encoding="UTF-8"?>
<!--
  Nebula Chat Server - 开发环境日志配置
  per D-17: DEBUG 级别、彩色控制台输出
  使用方式: java -Dlogback.configurationFile=logback-dev.xml -jar server.jar
-->
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%thread] %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
